<%= stylesheet_link_tag('users_show') %>
<section class="user_detail">
    <%= render "user_card", user: @user %>
    <article class="bio border">
        <h2>Bio</h2>
        <p><%= @user.bio %></p>
    </article>
    <% @user.most_recent_posts.each do |post| %>
    <%= render "posts/post_card", post: post, user: @user %>
    <%end%>
    <button class="see_all">
        <%= link_to 'See all Post', "/users/#{@user.id}/posts", html_options: { as: "script" } %>
    </button>
</section>