<%= stylesheet_link_tag('posts_index') %>
<section class="post_index_section">
    <article class="user_card">
        <img src="https://pm1.narvii.com/7258/5520799cf0539b408bd8abee0a14d3a492ee5107r1-753-753v2_hq.jpg" alt="User photo">
        <div class="user_info">
            <h2><%= @user.name %></h2>
            <h4>Number of post: <%= @user.posts_counter %></h4>
        </div>
    </article>
    <% @user.posts.each do |post| %>
    <%= render "post_card", post: post %>
    <% post.comments.each do |comment| %>
    <ul class="comments_list">
        <%= render "comment_card", comment: comment %>
    </ul>
    <%end%>
    <%end%>
    <button class="pagination">Pagination</button>
</section>