<%= link_to user_posts_path(@user) do %> <%# Back to posts btn %>
    <button class="back_to_posts">Posts</button>
<% end %>
<article class="post border">
    <h3 class="title"><%= @post.title %> by <%= @post.author.name %></h3>
    <p><%= @post.text %></p>
    <div class="counter">
        <h5>Comments: <%= @post.comments_counter %></h5>
        <h5>Likes: <%= @post.likes_counter %></h5>
    </div>
</article>
<%= render "post_card_comment", user: @user, post: @post %>